mixin word(word)
    - var url = '/#!' + word
    a(href=url)= word

mixin words(words)
    ul
        each word in words
            li
                +word(word)

mixin dictionary(dictionary, letters)
    each letter, index in letters
        h1= letter
        +words(dictionary[index])

doctype html
html
  include includes/head
body
    +dictionary(dictionary, letters)