mixin clip(clip)
    - var url = '/#!' + clip.id
    a(href=url)
        video(src=clip.file)

doctype html
html
  include includes/head
body
    ul
        each clip in clips
            li
                +clip(clip)