$image-search-path: '/home/novikov/NetBeansProjects/vangraph/www/private/workspace/build/Vangraph/production/resources';
$theme-name:  'ext-theme-classic' !default;
$include-ext-abstractcomponent: true;
$include-ext-abstractmanager: true;
$include-ext-abstractplugin: true;
$include-ext-action: true;
$include-ext-ajax: true;
$include-ext-component: true;
$include-ext-componentloader: true;
$include-ext-componentmanager: true;
$include-ext-componentquery: true;
$include-ext-editor: true;
$include-ext-elementloader: true;
$include-ext-eventobjectimpl: true;
$include-ext-focusmanager: true;
$include-ext-img: true;
$include-ext-loadmask: true;
$include-ext-modelmanager: true;
$include-ext-pluginmanager: true;
$include-ext-progressbar: true;
$include-ext-queryable: true;
$include-ext-shadow: true;
$include-ext-shadowpool: true;
$include-ext-template: true;
$include-ext-xtemplate: true;
$include-ext-xtemplatecompiler: true;
$include-ext-xtemplateparser: true;
$include-ext-zindexmanager: true;
$include-ext-app-application: true;
$include-ext-app-controller: true;
$include-ext-app-eventbus: true;
$include-ext-app-eventdomain: true;
$include-ext-app-domain-component: true;
$include-ext-app-domain-controller: true;
$include-ext-app-domain-direct: true;
$include-ext-app-domain-global: true;
$include-ext-app-domain-store: true;
$include-ext-button-button: true;
$include-ext-button-cycle: true;
$include-ext-button-manager: true;
$include-ext-button-split: true;
$include-ext-chart-callout: true;
$include-ext-chart-chart: true;
$include-ext-chart-highlight: true;
$include-ext-chart-label: true;
$include-ext-chart-legend: true;
$include-ext-chart-legenditem: true;
$include-ext-chart-mask: true;
$include-ext-chart-masklayer: true;
$include-ext-chart-navigation: true;
$include-ext-chart-shape: true;
$include-ext-chart-tip: true;
$include-ext-chart-tipsurface: true;
$include-ext-chart-axis-abstract: true;
$include-ext-chart-axis-axis: true;
$include-ext-chart-axis-category: true;
$include-ext-chart-axis-gauge: true;
$include-ext-chart-axis-numeric: true;
$include-ext-chart-axis-radial: true;
$include-ext-chart-axis-time: true;
$include-ext-chart-series-area: true;
$include-ext-chart-series-bar: true;
$include-ext-chart-series-cartesian: true;
$include-ext-chart-series-column: true;
$include-ext-chart-series-gauge: true;
$include-ext-chart-series-line: true;
$include-ext-chart-series-pie: true;
$include-ext-chart-series-radar: true;
$include-ext-chart-series-scatter: true;
$include-ext-chart-series-series: true;
$include-ext-chart-theme-base: true;
$include-ext-chart-theme-theme: true;
$include-ext-container-abstractcontainer: true;
$include-ext-container-buttongroup: true;
$include-ext-container-container: true;
$include-ext-container-dockingcontainer: true;
$include-ext-container-monitor: true;
$include-ext-container-viewport: true;
$include-ext-data-abstractstore: true;
$include-ext-data-arraystore: true;
$include-ext-data-batch: true;
$include-ext-data-bufferstore: true;
$include-ext-data-connection: true;
$include-ext-data-directstore: true;
$include-ext-data-errors: true;
$include-ext-data-field: true;
$include-ext-data-group: true;
$include-ext-data-idgenerator: true;
$include-ext-data-jsonp: true;
$include-ext-data-jsonpstore: true;
$include-ext-data-jsonstore: true;
$include-ext-data-model: true;
$include-ext-data-nodeinterface: true;
$include-ext-data-nodestore: true;
$include-ext-data-operation: true;
$include-ext-data-pagemap: true;
$include-ext-data-request: true;
$include-ext-data-resultset: true;
$include-ext-data-sequentialidgenerator: true;
$include-ext-data-sorttypes: true;
$include-ext-data-store: true;
$include-ext-data-storemanager: true;
$include-ext-data-tree: true;
$include-ext-data-treemodel: true;
$include-ext-data-treestore: true;
$include-ext-data-types: true;
$include-ext-data-uuidgenerator: true;
$include-ext-data-xmlstore: true;
$include-ext-data-association-association: true;
$include-ext-data-association-belongsto: true;
$include-ext-data-association-hasmany: true;
$include-ext-data-association-hasone: true;
$include-ext-data-flash-binaryxhr: true;
$include-ext-data-proxy-ajax: true;
$include-ext-data-proxy-client: true;
$include-ext-data-proxy-direct: true;
$include-ext-data-proxy-jsonp: true;
$include-ext-data-proxy-localstorage: true;
$include-ext-data-proxy-memory: true;
$include-ext-data-proxy-proxy: true;
$include-ext-data-proxy-rest: true;
$include-ext-data-proxy-server: true;
$include-ext-data-proxy-sessionstorage: true;
$include-ext-data-proxy-webstorage: true;
$include-ext-data-reader-array: true;
$include-ext-data-reader-json: true;
$include-ext-data-reader-reader: true;
$include-ext-data-reader-xml: true;
$include-ext-data-validations: true;
$include-ext-data-writer-json: true;
$include-ext-data-writer-writer: true;
$include-ext-data-writer-xml: true;
$include-ext-dd-dd: true;
$include-ext-dd-ddproxy: true;
$include-ext-dd-ddtarget: true;
$include-ext-dd-dragdrop: true;
$include-ext-dd-dragdropmanager: true;
$include-ext-dd-dragsource: true;
$include-ext-dd-dragtracker: true;
$include-ext-dd-dragzone: true;
$include-ext-dd-droptarget: true;
$include-ext-dd-dropzone: true;
$include-ext-dd-registry: true;
$include-ext-dd-scrollmanager: true;
$include-ext-dd-statusproxy: true;
$include-ext-diag-layout-context: true;
$include-ext-diag-layout-contextitem: true;
$include-ext-direct-event: true;
$include-ext-direct-exceptionevent: true;
$include-ext-direct-jsonprovider: true;
$include-ext-direct-manager: true;
$include-ext-direct-pollingprovider: true;
$include-ext-direct-provider: true;
$include-ext-direct-remotingevent: true;
$include-ext-direct-remotingmethod: true;
$include-ext-direct-remotingprovider: true;
$include-ext-direct-transaction: true;
$include-ext-dom-abstractelement: true;
$include-ext-dom-abstractelement_insertion: true;
$include-ext-dom-abstractelement_static: true;
$include-ext-dom-abstractelement_style: true;
$include-ext-dom-abstractelement_traversal: true;
$include-ext-dom-abstracthelper: true;
$include-ext-dom-abstractquery: true;
$include-ext-dom-compositeelement: true;
$include-ext-dom-compositeelementlite: true;
$include-ext-dom-element: true;
$include-ext-dom-element_anim: true;
$include-ext-dom-element_dd: true;
$include-ext-dom-element_fx: true;
$include-ext-dom-element_position: true;
$include-ext-dom-element_scroll: true;
$include-ext-dom-element_style: true;
$include-ext-dom-helper: true;
$include-ext-dom-layer: true;
$include-ext-draw-color: true;
$include-ext-draw-component: true;
$include-ext-draw-compositesprite: true;
$include-ext-draw-draw: true;
$include-ext-draw-matrix: true;
$include-ext-draw-sprite: true;
$include-ext-draw-spritedd: true;
$include-ext-draw-surface: true;
$include-ext-draw-text: true;
$include-ext-draw-engine-imageexporter: true;
$include-ext-draw-engine-svg: true;
$include-ext-draw-engine-svgexporter: true;
$include-ext-draw-engine-vml: true;
$include-ext-flash-component: true;
$include-ext-form-basic: true;
$include-ext-form-checkboxgroup: true;
$include-ext-form-checkboxmanager: true;
$include-ext-form-fieldancestor: true;
$include-ext-form-fieldcontainer: true;
$include-ext-form-fieldset: true;
$include-ext-form-label: true;
$include-ext-form-labelable: true;
$include-ext-form-panel: true;
$include-ext-form-radiogroup: true;
$include-ext-form-radiomanager: true;
$include-ext-form-action-action: true;
$include-ext-form-action-directload: true;
$include-ext-form-action-directsubmit: true;
$include-ext-form-action-load: true;
$include-ext-form-action-standardsubmit: true;
$include-ext-form-action-submit: true;
$include-ext-form-field-base: true;
$include-ext-form-field-checkbox: true;
$include-ext-form-field-combobox: true;
$include-ext-form-field-date: true;
$include-ext-form-field-display: true;
$include-ext-form-field-field: true;
$include-ext-form-field-file: true;
$include-ext-form-field-filebutton: true;
$include-ext-form-field-hidden: true;
$include-ext-form-field-htmleditor: true;
$include-ext-form-field-number: true;
$include-ext-form-field-picker: true;
$include-ext-form-field-radio: true;
$include-ext-form-field-spinner: true;
$include-ext-form-field-text: true;
$include-ext-form-field-textarea: true;
$include-ext-form-field-time: true;
$include-ext-form-field-trigger: true;
$include-ext-form-field-vtypes: true;
$include-ext-fx-anim: true;
$include-ext-fx-animator: true;
$include-ext-fx-cubicbezier: true;
$include-ext-fx-easing: true;
$include-ext-fx-manager: true;
$include-ext-fx-propertyhandler: true;
$include-ext-fx-queue: true;
$include-ext-fx-target-component: true;
$include-ext-fx-target-compositeelement: true;
$include-ext-fx-target-compositeelementcss: true;
$include-ext-fx-target-compositesprite: true;
$include-ext-fx-target-element: true;
$include-ext-fx-target-elementcss: true;
$include-ext-fx-target-sprite: true;
$include-ext-fx-target-target: true;
$include-ext-grid-cellcontext: true;
$include-ext-grid-celleditor: true;
$include-ext-grid-columncomponentlayout: true;
$include-ext-grid-columnlayout: true;
$include-ext-grid-columnmanager: true;
$include-ext-grid-panel: true;
$include-ext-grid-roweditor: true;
$include-ext-grid-roweditorbuttons: true;
$include-ext-grid-view: true;
$include-ext-grid-viewdropzone: true;
$include-ext-grid-column-action: true;
$include-ext-grid-column-boolean: true;
$include-ext-grid-column-checkcolumn: true;
$include-ext-grid-column-column: true;
$include-ext-grid-column-date: true;
$include-ext-grid-column-number: true;
$include-ext-grid-column-rownumberer: true;
$include-ext-grid-column-template: true;
$include-ext-grid-feature-abstractsummary: true;
$include-ext-grid-feature-feature: true;
$include-ext-grid-feature-groupstore: true;
$include-ext-grid-feature-grouping: true;
$include-ext-grid-feature-groupingsummary: true;
$include-ext-grid-feature-rowbody: true;
$include-ext-grid-feature-rowwrap: true;
$include-ext-grid-feature-summary: true;
$include-ext-grid-header-container: true;
$include-ext-grid-header-dragzone: true;
$include-ext-grid-header-dropzone: true;
$include-ext-grid-locking-headercontainer: true;
$include-ext-grid-locking-lockable: true;
$include-ext-grid-locking-view: true;
$include-ext-grid-plugin-bufferedrenderer: true;
$include-ext-grid-plugin-bufferedrenderertableview: true;
$include-ext-grid-plugin-bufferedrenderertreeview: true;
$include-ext-grid-plugin-cellediting: true;
$include-ext-grid-plugin-divrenderer: true;
$include-ext-grid-plugin-dragdrop: true;
$include-ext-grid-plugin-editing: true;
$include-ext-grid-plugin-headerreorderer: true;
$include-ext-grid-plugin-headerresizer: true;
$include-ext-grid-plugin-rowediting: true;
$include-ext-grid-plugin-rowexpander: true;
$include-ext-grid-property-grid: true;
$include-ext-grid-property-headercontainer: true;
$include-ext-grid-property-property: true;
$include-ext-grid-property-store: true;
$include-ext-layout-classlist: true;
$include-ext-layout-context: true;
$include-ext-layout-contextitem: true;
$include-ext-layout-layout: true;
$include-ext-layout-sizemodel: true;
$include-ext-layout-component-auto: true;
$include-ext-layout-component-body: true;
$include-ext-layout-component-boundlist: true;
$include-ext-layout-component-button: true;
$include-ext-layout-component-component: true;
$include-ext-layout-component-dock: true;
$include-ext-layout-component-draw: true;
$include-ext-layout-component-fieldset: true;
$include-ext-layout-component-progressbar: true;
$include-ext-layout-component-field-combobox: true;
$include-ext-layout-component-field-field: true;
$include-ext-layout-component-field-fieldcontainer: true;
$include-ext-layout-component-field-htmleditor: true;
$include-ext-layout-component-field-slider: true;
$include-ext-layout-component-field-text: true;
$include-ext-layout-component-field-textarea: true;
$include-ext-layout-component-field-trigger: true;
$include-ext-layout-container-absolute: true;
$include-ext-layout-container-accordion: true;
$include-ext-layout-container-anchor: true;
$include-ext-layout-container-auto: true;
$include-ext-layout-container-border: true;
$include-ext-layout-container-box: true;
$include-ext-layout-container-card: true;
$include-ext-layout-container-checkboxgroup: true;
$include-ext-layout-container-column: true;
$include-ext-layout-container-container: true;
$include-ext-layout-container-editor: true;
$include-ext-layout-container-fit: true;
$include-ext-layout-container-form: true;
$include-ext-layout-container-hbox: true;
$include-ext-layout-container-table: true;
$include-ext-layout-container-vbox: true;
$include-ext-layout-container-border-region: true;
$include-ext-layout-container-boxoverflow-menu: true;
$include-ext-layout-container-boxoverflow-none: true;
$include-ext-layout-container-boxoverflow-scroller: true;
$include-ext-menu-checkitem: true;
$include-ext-menu-colorpicker: true;
$include-ext-menu-datepicker: true;
$include-ext-menu-item: true;
$include-ext-menu-keynav: true;
$include-ext-menu-manager: true;
$include-ext-menu-menu: true;
$include-ext-menu-separator: true;
$include-ext-panel-abstractpanel: true;
$include-ext-panel-dd: true;
$include-ext-panel-header: true;
$include-ext-panel-panel: true;
$include-ext-panel-proxy: true;
$include-ext-panel-table: true;
$include-ext-panel-tool: true;
$include-ext-perf-accumulator: true;
$include-ext-perf-monitor: true;
$include-ext-picker-color: true;
$include-ext-picker-date: true;
$include-ext-picker-month: true;
$include-ext-picker-time: true;
$include-ext-resizer-bordersplitter: true;
$include-ext-resizer-bordersplittertracker: true;
$include-ext-resizer-handle: true;
$include-ext-resizer-resizetracker: true;
$include-ext-resizer-resizer: true;
$include-ext-resizer-splitter: true;
$include-ext-resizer-splittertracker: true;
$include-ext-rtl-abstractcomponent: true;
$include-ext-rtl-eventobjectimpl: true;
$include-ext-rtl-button-button: true;
$include-ext-rtl-dd-dd: true;
$include-ext-rtl-dom-element_anim: true;
$include-ext-rtl-dom-element_insertion: true;
$include-ext-rtl-dom-element_position: true;
$include-ext-rtl-dom-element_scroll: true;
$include-ext-rtl-dom-element_static: true;
$include-ext-rtl-dom-layer: true;
$include-ext-rtl-form-field-checkbox: true;
$include-ext-rtl-form-field-file: true;
$include-ext-rtl-form-field-spinner: true;
$include-ext-rtl-form-field-trigger: true;
$include-ext-rtl-grid-celleditor: true;
$include-ext-rtl-grid-roweditor: true;
$include-ext-rtl-grid-column-column: true;
$include-ext-rtl-grid-plugin-headerresizer: true;
$include-ext-rtl-grid-plugin-rowediting: true;
$include-ext-rtl-layout-contextitem: true;
$include-ext-rtl-layout-component-dock: true;
$include-ext-rtl-layout-component-field-text: true;
$include-ext-rtl-layout-component-field-trigger: true;
$include-ext-rtl-layout-container-absolute: true;
$include-ext-rtl-layout-container-border: true;
$include-ext-rtl-layout-container-box: true;
$include-ext-rtl-layout-container-checkboxgroup: true;
$include-ext-rtl-layout-container-column: true;
$include-ext-rtl-layout-container-hbox: true;
$include-ext-rtl-layout-container-vbox: true;
$include-ext-rtl-layout-container-boxoverflow-menu: true;
$include-ext-rtl-layout-container-boxoverflow-scroller: true;
$include-ext-rtl-panel-header: true;
$include-ext-rtl-panel-panel: true;
$include-ext-rtl-resizer-bordersplittertracker: true;
$include-ext-rtl-resizer-resizetracker: true;
$include-ext-rtl-resizer-splittertracker: true;
$include-ext-rtl-selection-cellmodel: true;
$include-ext-rtl-selection-treemodel: true;
$include-ext-rtl-slider-multi: true;
$include-ext-rtl-tab-bar: true;
$include-ext-rtl-tip-quicktipmanager: true;
$include-ext-rtl-tree-column: true;
$include-ext-rtl-util-floating: true;
$include-ext-rtl-util-renderable: true;
$include-ext-rtl-view-table: true;
$include-ext-selection-cellmodel: true;
$include-ext-selection-checkboxmodel: true;
$include-ext-selection-dataviewmodel: true;
$include-ext-selection-model: true;
$include-ext-selection-rowmodel: true;
$include-ext-selection-treemodel: true;
$include-ext-slider-multi: true;
$include-ext-slider-single: true;
$include-ext-slider-thumb: true;
$include-ext-slider-tip: true;
$include-ext-state-cookieprovider: true;
$include-ext-state-localstorageprovider: true;
$include-ext-state-manager: true;
$include-ext-state-provider: true;
$include-ext-state-stateful: true;
$include-ext-tab-bar: true;
$include-ext-tab-panel: true;
$include-ext-tab-tab: true;
$include-ext-tip-quicktip: true;
$include-ext-tip-quicktipmanager: true;
$include-ext-tip-tip: true;
$include-ext-tip-tooltip: true;
$include-ext-toolbar-fill: true;
$include-ext-toolbar-item: true;
$include-ext-toolbar-paging: true;
$include-ext-toolbar-separator: true;
$include-ext-toolbar-spacer: true;
$include-ext-toolbar-textitem: true;
$include-ext-toolbar-toolbar: true;
$include-ext-tree-column: true;
$include-ext-tree-panel: true;
$include-ext-tree-view: true;
$include-ext-tree-viewdragzone: true;
$include-ext-tree-viewdropzone: true;
$include-ext-tree-plugin-treeviewdragdrop: true;
$include-ext-util-abstractmixedcollection: true;
$include-ext-util-animate: true;
$include-ext-util-bindable: true;
$include-ext-util-css: true;
$include-ext-util-clickrepeater: true;
$include-ext-util-componentdragger: true;
$include-ext-util-cookies: true;
$include-ext-util-elementcontainer: true;
$include-ext-util-event: true;
$include-ext-util-filter: true;
$include-ext-util-floating: true;
$include-ext-util-grouper: true;
$include-ext-util-hashmap: true;
$include-ext-util-history: true;
$include-ext-util-inflector: true;
$include-ext-util-keymap: true;
$include-ext-util-keynav: true;
$include-ext-util-lrucache: true;
$include-ext-util-memento: true;
$include-ext-util-mixedcollection: true;
$include-ext-util-observable: true;
$include-ext-util-offset: true;
$include-ext-util-point: true;
$include-ext-util-positionable: true;
$include-ext-util-protoelement: true;
$include-ext-util-queue: true;
$include-ext-util-region: true;
$include-ext-util-renderable: true;
$include-ext-util-sortable: true;
$include-ext-util-sorter: true;
$include-ext-util-taskmanager: true;
$include-ext-util-taskrunner: true;
$include-ext-util-textmetrics: true;
$include-ext-ux-boxreorderer: true;
$include-ext-ux-celldragdrop: true;
$include-ext-ux-datatip: true;
$include-ext-ux-dataview-animated: true;
$include-ext-ux-dataview-dragselector: true;
$include-ext-ux-dataview-draggable: true;
$include-ext-ux-dataview-labeleditor: true;
$include-ext-ux-fieldreplicator: true;
$include-ext-ux-gmappanel: true;
$include-ext-ux-grouptabpanel: true;
$include-ext-ux-grouptabrenderer: true;
$include-ext-ux-iframe: true;
$include-ext-ux-livesearchgridpanel: true;
$include-ext-ux-previewplugin: true;
$include-ext-ux-progressbarpager: true;
$include-ext-ux-rowexpander: true;
$include-ext-ux-slidingpager: true;
$include-ext-ux-spotlight: true;
$include-ext-ux-tabclosemenu: true;
$include-ext-ux-tabreorderer: true;
$include-ext-ux-tabscrollermenu: true;
$include-ext-ux-toolbardroppable: true;
$include-ext-ux-treepicker: true;
$include-ext-ux-ajax-datasimlet: true;
$include-ext-ux-ajax-jsonsimlet: true;
$include-ext-ux-ajax-simmanager: true;
$include-ext-ux-ajax-simxhr: true;
$include-ext-ux-ajax-simlet: true;
$include-ext-ux-ajax-xmlsimlet: true;
$include-ext-ux-data-pagingmemoryproxy: true;
$include-ext-ux-dd-cellfielddropzone: true;
$include-ext-ux-dd-panelfielddragzone: true;
$include-ext-ux-event-driver: true;
$include-ext-ux-event-maker: true;
$include-ext-ux-event-player: true;
$include-ext-ux-event-recorder: true;
$include-ext-ux-event-recordermanager: true;
$include-ext-ux-form-itemselector: true;
$include-ext-ux-form-multiselect: true;
$include-ext-ux-form-searchfield: true;
$include-ext-ux-grid-filtersfeature: true;
$include-ext-ux-grid-transformgrid: true;
$include-ext-ux-grid-filter-booleanfilter: true;
$include-ext-ux-grid-filter-datefilter: true;
$include-ext-ux-grid-filter-datetimefilter: true;
$include-ext-ux-grid-filter-filter: true;
$include-ext-ux-grid-filter-listfilter: true;
$include-ext-ux-grid-filter-numericfilter: true;
$include-ext-ux-grid-filter-stringfilter: true;
$include-ext-ux-grid-menu-listmenu: true;
$include-ext-ux-grid-menu-rangemenu: true;
$include-ext-ux-layout-center: true;
$include-ext-ux-statusbar-statusbar: true;
$include-ext-ux-statusbar-validationstatus: true;
$include-ext-view-abstractview: true;
$include-ext-view-boundlist: true;
$include-ext-view-boundlistkeynav: true;
$include-ext-view-dragzone: true;
$include-ext-view-dropzone: true;
$include-ext-view-nodecache: true;
$include-ext-view-table: true;
$include-ext-view-tablelayout: true;
$include-ext-view-view: true;
$include-ext-window-messagebox: true;
$include-ext-window-window: true;
$include-vangraph-application: true;
$include-vangraph-controller-clipgraphcontroller: true;
$include-vangraph-controller-clipplayercontroller: true;
$include-vangraph-controller-main: true;
$include-vangraph-controller-searchformcontroller: true;
$include-vangraph-controller-toolpanelcontroller: true;
$include-vangraph-controller-viewportcontroller: true;
$include-vangraph-controller-wordlistcontroller: true;
$include-vangraph-model-searchpromptmodel: true;
$include-vangraph-model-wordmodel: true;
$include-vangraph-store-searchpromptstore: true;
$include-vangraph-store-wordstore: true;
$include-vangraph-view-clipgraph: true;
$include-vangraph-view-clipplayer: true;
$include-vangraph-view-main: true;
$include-vangraph-view-searchform: true;
$include-vangraph-view-toolpanel: true;
$include-vangraph-view-viewport: true;
$include-vangraph-view-wordlist: true;
$include-vangraph-view-ux-vangraph-abstractshape: true;
$include-vangraph-view-ux-vangraph-component: true;
$include-vangraph-view-ux-vangraph-edge-abstract: true;
$include-vangraph-view-ux-vangraph-edge-line: true;
$include-vangraph-view-ux-vangraph-vertice-abstract: true;
$include-vangraph-view-ux-vangraph-vertice-circle: true;
$include-vangraph-view-ux-vangraph-vertice-clip: true;
$include-vangraph-view-ux-vangraph-vertice-testrectangle: true;
$include-vangraph-view-ux-vangraph-vertice-text: true;
$include-vangraph-view-ux-vangraph-vertice-window: true;
$include-vangraph-view-ux-vangraph-vertice-word: true;
/* including package ext-theme-base */
@import '../../../ext/packages/ext-theme-base/sass/etc/all';
/* including package ext-theme-neutral */
@import '../../../ext/packages/ext-theme-neutral/sass/etc/all';
/* including package ext-theme-classic */
@import '../../../ext/packages/ext-theme-classic/sass/etc/all';
/* including package ext-theme-classic */
@import '../../../ext/packages/ext-theme-classic/sass/var/Component';
@import '../../../ext/packages/ext-theme-classic/sass/var/LoadMask';
@import '../../../ext/packages/ext-theme-classic/sass/var/ProgressBar';
@import '../../../ext/packages/ext-theme-classic/sass/var/button/Button';
@import '../../../ext/packages/ext-theme-classic/sass/var/toolbar/Toolbar';
@import '../../../ext/packages/ext-theme-classic/sass/var/panel/Panel';
@import '../../../ext/packages/ext-theme-classic/sass/var/tip/Tip';
@import '../../../ext/packages/ext-theme-classic/sass/var/container/ButtonGroup';
@import '../../../ext/packages/ext-theme-classic/sass/var/window/Window';
@import '../../../ext/packages/ext-theme-classic/sass/var/form/Labelable';
@import '../../../ext/packages/ext-theme-classic/sass/var/form/field/Base';
@import '../../../ext/packages/ext-theme-classic/sass/var/form/field/Display';
@import '../../../ext/packages/ext-theme-classic/sass/var/window/MessageBox';
@import '../../../ext/packages/ext-theme-classic/sass/var/form/CheckboxGroup';
@import '../../../ext/packages/ext-theme-classic/sass/var/form/field/Trigger';
@import '../../../ext/packages/ext-theme-classic/sass/var/view/BoundList';
@import '../../../ext/packages/ext-theme-classic/sass/var/picker/Date';
@import '../../../ext/packages/ext-theme-classic/sass/var/picker/Color';
@import '../../../ext/packages/ext-theme-classic/sass/var/form/field/HtmlEditor';
@import '../../../ext/packages/ext-theme-classic/sass/var/panel/Table';
@import '../../../ext/packages/ext-theme-classic/sass/var/grid/header/Container';
@import '../../../ext/packages/ext-theme-classic/sass/var/grid/column/Column';
@import '../../../ext/packages/ext-theme-classic/sass/var/grid/feature/Grouping';
@import '../../../ext/packages/ext-theme-classic/sass/var/grid/plugin/RowEditing';
@import '../../../ext/packages/ext-theme-classic/sass/var/grid/plugin/RowExpander';
@import '../../../ext/packages/ext-theme-classic/sass/var/grid/property/Grid';
@import '../../../ext/packages/ext-theme-classic/sass/var/layout/container/Accordion';
@import '../../../ext/packages/ext-theme-classic/sass/var/layout/container/Border';
@import '../../../ext/packages/ext-theme-classic/sass/var/menu/Menu';
@import '../../../ext/packages/ext-theme-classic/sass/var/panel/Tool';
@import '../../../ext/packages/ext-theme-classic/sass/var/resizer/Resizer';
@import '../../../ext/packages/ext-theme-classic/sass/var/slider/Multi';
@import '../../../ext/packages/ext-theme-classic/sass/var/tab/Tab';
@import '../../../ext/packages/ext-theme-classic/sass/var/tab/Bar';
/* including package ext-theme-neutral */
@import '../../../ext/packages/ext-theme-neutral/sass/var/Component';
@import '../../../ext/packages/ext-theme-neutral/sass/var/FocusManager';
@import '../../../ext/packages/ext-theme-neutral/sass/var/LoadMask';
@import '../../../ext/packages/ext-theme-neutral/sass/var/ProgressBar';
@import '../../../ext/packages/ext-theme-neutral/sass/var/button/Button';
@import '../../../ext/packages/ext-theme-neutral/sass/var/toolbar/Toolbar';
@import '../../../ext/packages/ext-theme-neutral/sass/var/panel/Header';
@import '../../../ext/packages/ext-theme-neutral/sass/var/panel/Panel';
@import '../../../ext/packages/ext-theme-neutral/sass/var/tip/Tip';
@import '../../../ext/packages/ext-theme-neutral/sass/var/container/ButtonGroup';
@import '../../../ext/packages/ext-theme-neutral/sass/var/window/Window';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/Labelable';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/Base';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/TextArea';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/Display';
@import '../../../ext/packages/ext-theme-neutral/sass/var/window/MessageBox';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/Checkbox';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/CheckboxGroup';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/FieldSet';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/Radio';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/Trigger';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/Spinner';
@import '../../../ext/packages/ext-theme-neutral/sass/var/toolbar/Paging';
@import '../../../ext/packages/ext-theme-neutral/sass/var/view/BoundList';
@import '../../../ext/packages/ext-theme-neutral/sass/var/picker/Date';
@import '../../../ext/packages/ext-theme-neutral/sass/var/picker/Color';
@import '../../../ext/packages/ext-theme-neutral/sass/var/form/field/HtmlEditor';
@import '../../../ext/packages/ext-theme-neutral/sass/var/panel/Table';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/header/DropZone';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/header/Container';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/column/Column';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/column/Action';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/column/CheckColumn';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/column/RowNumberer';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/feature/Grouping';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/feature/RowBody';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/feature/RowWrap';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/locking/Lockable';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/plugin/Editing';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/plugin/RowEditing';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/plugin/RowExpander';
@import '../../../ext/packages/ext-theme-neutral/sass/var/grid/property/Grid';
@import '../../../ext/packages/ext-theme-neutral/sass/var/layout/container/Accordion';
@import '../../../ext/packages/ext-theme-neutral/sass/var/resizer/Splitter';
@import '../../../ext/packages/ext-theme-neutral/sass/var/layout/container/Border';
@import '../../../ext/packages/ext-theme-neutral/sass/var/menu/Menu';
@import '../../../ext/packages/ext-theme-neutral/sass/var/panel/Tool';
@import '../../../ext/packages/ext-theme-neutral/sass/var/slider/Multi';
@import '../../../ext/packages/ext-theme-neutral/sass/var/tab/Tab';
@import '../../../ext/packages/ext-theme-neutral/sass/var/tab/Bar';
@import '../../../ext/packages/ext-theme-neutral/sass/var/selection/CheckboxModel';
@import '../../../ext/packages/ext-theme-neutral/sass/var/tree/Panel';
/* including package ext-theme-base */
@import '../../../ext/packages/ext-theme-base/sass/var/Component';
/* including package ext-theme-base */
$ext-theme-base-resource-path: 'images' !default;
$relative-image-path-for-uis: $ext-theme-base-resource-path;
@import '../../../ext/packages/ext-theme-base/sass/src/rtl/util/Renderable';
@import '../../../ext/packages/ext-theme-base/sass/src/Component';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Container';
@import '../../../ext/packages/ext-theme-base/sass/src/Editor';
@import '../../../ext/packages/ext-theme-base/sass/src/LoadMask';
@import '../../../ext/packages/ext-theme-base/sass/src/ProgressBar';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/component/Dock';
@import '../../../ext/packages/ext-theme-base/sass/src/button/Button';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Box';
@import '../../../ext/packages/ext-theme-base/sass/src/toolbar/Toolbar';
@import '../../../ext/packages/ext-theme-base/sass/src/panel/Header';
@import '../../../ext/packages/ext-theme-base/sass/src/dd/DD';
@import '../../../ext/packages/ext-theme-base/sass/src/dd/StatusProxy';
@import '../../../ext/packages/ext-theme-base/sass/src/panel/Panel';
@import '../../../ext/packages/ext-theme-base/sass/src/tip/Tip';
@import '../../../ext/packages/ext-theme-base/sass/src/draw/Component';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Table';
@import '../../../ext/packages/ext-theme-base/sass/src/container/ButtonGroup';
@import '../../../ext/packages/ext-theme-base/sass/src/container/Viewport';
@import '../../../ext/packages/ext-theme-base/sass/src/window/Window';
@import '../../../ext/packages/ext-theme-base/sass/src/form/Labelable';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/TextArea';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/Display';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/Checkbox';
@import '../../../ext/packages/ext-theme-base/sass/src/form/FieldSet';
@import '../../../ext/packages/ext-theme-base/sass/src/form/Panel';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/Trigger';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/Spinner';
@import '../../../ext/packages/ext-theme-base/sass/src/view/BoundList';
@import '../../../ext/packages/ext-theme-base/sass/src/picker/Date';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/File';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/Hidden';
@import '../../../ext/packages/ext-theme-base/sass/src/picker/Color';
@import '../../../ext/packages/ext-theme-base/sass/src/form/field/HtmlEditor';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Fit';
@import '../../../ext/packages/ext-theme-base/sass/src/panel/Table';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/header/DropZone';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/header/Container';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/column/Column';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/column/Action';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/column/CheckColumn';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/column/RowNumberer';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/feature/Grouping';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/feature/RowBody';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/feature/RowWrap';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/plugin/Editing';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/plugin/RowEditing';
@import '../../../ext/packages/ext-theme-base/sass/src/grid/plugin/RowExpander';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Absolute';
@import '../../../ext/packages/ext-theme-base/sass/src/resizer/Splitter';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Border';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Column';
@import '../../../ext/packages/ext-theme-base/sass/src/layout/container/Form';
@import '../../../ext/packages/ext-theme-base/sass/src/menu/Menu';
@import '../../../ext/packages/ext-theme-base/sass/src/resizer/SplitterTracker';
@import '../../../ext/packages/ext-theme-base/sass/src/slider/Multi';
@import '../../../ext/packages/ext-theme-base/sass/src/tab/Tab';
@import '../../../ext/packages/ext-theme-base/sass/src/tab/Bar';
@import '../../../ext/packages/ext-theme-base/sass/src/selection/CheckboxModel';
@import '../../../ext/packages/ext-theme-base/sass/src/tab/Panel';
@import '../../../ext/packages/ext-theme-base/sass/src/tree/Panel';
/* including package ext-theme-neutral */
$ext-theme-neutral-resource-path: 'images' !default;
$relative-image-path-for-uis: $ext-theme-neutral-resource-path;
@import '../../../ext/packages/ext-theme-neutral/sass/src/Component';
@import '../../../ext/packages/ext-theme-neutral/sass/src/Editor';
@import '../../../ext/packages/ext-theme-neutral/sass/src/FocusManager';
@import '../../../ext/packages/ext-theme-neutral/sass/src/LoadMask';
@import '../../../ext/packages/ext-theme-neutral/sass/src/ProgressBar';
@import '../../../ext/packages/ext-theme-neutral/sass/src/button/Button';
@import '../../../ext/packages/ext-theme-neutral/sass/src/toolbar/Toolbar';
@import '../../../ext/packages/ext-theme-neutral/sass/src/panel/Header';
@import '../../../ext/packages/ext-theme-neutral/sass/src/panel/Panel';
@import '../../../ext/packages/ext-theme-neutral/sass/src/tip/Tip';
@import '../../../ext/packages/ext-theme-neutral/sass/src/container/ButtonGroup';
@import '../../../ext/packages/ext-theme-neutral/sass/src/window/Window';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/Labelable';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Base';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Text';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/TextArea';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Display';
@import '../../../ext/packages/ext-theme-neutral/sass/src/window/MessageBox';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Checkbox';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/CheckboxGroup';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/FieldSet';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Radio';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Trigger';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Spinner';
@import '../../../ext/packages/ext-theme-neutral/sass/src/toolbar/Paging';
@import '../../../ext/packages/ext-theme-neutral/sass/src/view/BoundList';
@import '../../../ext/packages/ext-theme-neutral/sass/src/picker/Date';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/Date';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/File';
@import '../../../ext/packages/ext-theme-neutral/sass/src/picker/Color';
@import '../../../ext/packages/ext-theme-neutral/sass/src/form/field/HtmlEditor';
@import '../../../ext/packages/ext-theme-neutral/sass/src/panel/Table';
@import '../../../ext/packages/ext-theme-neutral/sass/src/view/DropZone';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/header/DropZone';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/header/Container';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/column/Column';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/column/Action';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/column/CheckColumn';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/column/RowNumberer';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/feature/Grouping';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/feature/RowBody';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/feature/RowWrap';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/feature/Summary';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/locking/Lockable';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/plugin/Editing';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/plugin/CellEditing';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/plugin/RowEditing';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/plugin/RowExpander';
@import '../../../ext/packages/ext-theme-neutral/sass/src/grid/property/Grid';
@import '../../../ext/packages/ext-theme-neutral/sass/src/layout/container/Accordion';
@import '../../../ext/packages/ext-theme-neutral/sass/src/resizer/Splitter';
@import '../../../ext/packages/ext-theme-neutral/sass/src/layout/container/Border';
@import '../../../ext/packages/ext-theme-neutral/sass/src/menu/Menu';
@import '../../../ext/packages/ext-theme-neutral/sass/src/panel/Tool';
@import '../../../ext/packages/ext-theme-neutral/sass/src/resizer/Resizer';
@import '../../../ext/packages/ext-theme-neutral/sass/src/slider/Multi';
@import '../../../ext/packages/ext-theme-neutral/sass/src/tab/Tab';
@import '../../../ext/packages/ext-theme-neutral/sass/src/tab/Bar';
@import '../../../ext/packages/ext-theme-neutral/sass/src/selection/CheckboxModel';
@import '../../../ext/packages/ext-theme-neutral/sass/src/tree/Panel';
@import '../../../ext/packages/ext-theme-neutral/sass/src/tree/ViewDropZone';
/* including package ext-theme-classic */
$ext-theme-classic-resource-path: 'images' !default;
$relative-image-path-for-uis: $ext-theme-classic-resource-path;
@import '../../../ext/packages/ext-theme-classic/sass/src/dom/Element';
@import '../../../ext/packages/ext-theme-classic/sass/src/toolbar/Toolbar';
@import '../../../ext/packages/ext-theme-classic/sass/src/window/MessageBox';
@import '../../../ext/packages/ext-theme-classic/sass/src/form/field/Trigger';
@import '../../../ext/packages/ext-theme-classic/sass/src/form/field/Spinner';
@import '../../../ext/packages/ext-theme-classic/sass/src/form/field/HtmlEditor';
@import '../../../ext/packages/ext-theme-classic/sass/src/grid/column/Column';
@import '../../../ext/packages/ext-theme-classic/sass/src/grid/plugin/Editing';
@import '../../../ext/packages/ext-theme-classic/sass/src/grid/plugin/RowEditing';
@import '../../../ext/packages/ext-theme-classic/sass/src/layout/container/Accordion';
@import '../../../ext/packages/ext-theme-classic/sass/src/resizer/Resizer';
@import '../../../ext/packages/ext-theme-classic/sass/src/slider/Multi';
@import '../../../ext/packages/ext-theme-classic/sass/src/tab/Panel';
